
.cont2
{
	background-color: #F5F8F9;
	height: auto;
	
}

.con-main
{
	margin-top: 50px!important;
	height: auto;
	margin: 0 auto;
	/*background-color:#EEF2F7;*/
}

.frm
{
	padding-top: 25px;
}
label.lb_blnce{margin-top: 45px;}

label.lb_flo{margin-top: 12px;}

.conts
{
background-color:#FAFAFB;
height: 500px;
margin-top: 100px;
}

.contss
{
 background-color:#FAFAFB;
height: 500px;
margin-top: 100px;
}

.contoner
{
width: 100%;
margin-left: 20px;
}


/* Modal Content */
/*.cont3
{
	background-color: #F5F8F9;
	height: 300px;
	margin-top: 60px;
	
}*/

#smt a
{
	color: #fff;
}